.login-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid #903CE9;
    padding: 40px;
    width: 60%;
    max-width: 400px;
    min-height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.hello-word {
    color: #2F2F2F;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-left: 8%;
    margin-bottom: 0;
}

.login-word {
    color: #903CE9;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    margin-left: 8%;
    margin-top: -5px;
    margin-bottom: 10px;
}

.email-input-data,
.password-input-data {
    border-radius: 20px;
    border: 2px solid #903CE9;
    margin: 10px auto;
    width: 80%;
    max-width: 300px;
    padding: 15px;
    color: #903CE9;
    box-sizing: border-box;
}

.email-input-data {
    background: #ffffff;
}

.password-input-data {
    background: #ECECEC;
}

.email-input-data:focus,
.password-input-data:focus {
    outline: none;
}

.email-word {
    color: #903CE9;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-left: 20%;
    margin-bottom: -1%;
}

.register-button {
    background: #903CE9;
    border-radius: 20px;

    margin-top: 40px;
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    max-width: 300px;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: white;
}

.register-button:hover {
    background: #7619DA;
    border-color: #7619DA;
}

.register-button:active {
    background: #AA6AEE;
    border-color: #AA6AEE;
}

.nav-register-button {
    background: #ffffff;
    color: #7619DA;
    border-radius: 20px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    max-width: 300px;
    border: none;
    cursor: pointer;
}

.nav-register-button:active {
    color: #AA6AEE;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 95%;
        padding: 20px;
    }

    .hello-word {
        font-size: 1rem;
        margin-left: 5%;
    }

    .login-word {
        font-size: 2rem;
        margin-left: 5%;
    }

    .email-input-data,
    .password-input-data {
        width: 90%;
        max-width: none;
        padding: 10px;
    }

    .email-word {
        font-size: 0.9rem;
        margin-left: 10%;
    }

    .register-button {
        width: 90%;
        max-width: none;
        padding: 8px;
        font-size: 0.9rem;
    }
    .nav-register-button
    {
        width: 90%;
        max-width: none;
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .container {
        width: 90%;
        padding: 30px;
        margin: 15px auto;
    }

    .hello-word {
        font-size: 1.8rem;
        margin-left: 6%;
    }

    .login-word {
        font-size: 2.8rem;
        margin-left: 6%;
    }

    .email-input-data,
    .password-input-data {
        width: 85%;
        max-width: 300px;
        padding: 12px;
    }

    .email-word {
        font-size: 1rem;
        margin-left: 15%;
    }

    .register-button, .nav-register-button {
        width: 85%;
        max-width: 300px;
        padding: 10px;
        font-size: 1rem;
    }
}
